
.genres {
    display: flex;
    gap: 5px;
    .genre{
        padding: 3px 5px;
        font-size: 12px;
        background-color: var(--pink);
        color: #fff;
        border-radius: 4px;
        text-wrap: nowrap;
    }
}